<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {{ name }}'s matplotlib draw 
    </title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>

<body>

    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
        {{ name }}'s matplotlib draw
    </h2>
        <img alt="Avatar" class="outputimage" src="{{ url_for('static', filename='outputimage/battery.png') }}">
        <img alt="Avatar" class="outputimage" src="{{ url_for('static', filename='outputimage/map-BodyPose.png') }}">
        <img alt="Avatar" class="outputimage" src="{{ url_for('static', filename='outputimage/map-BodyPose-detail.png') }}">
        <img alt="Avatar" class="outputimage" src="{{ url_for('static', filename='outputimage/Slam-callback.png') }}">
        <img alt="Avatar" class="outputimage" src="{{ url_for('static', filename='outputimage/map-UpdateOdomPose.png') }}">

    <drawfooter>
        <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
        <small>&copy; 2021 <a href="https://www.midea.cn/">美智纵横科技有限公司</a></small>
    </drawfooter>
</body>
</html>