<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {{ name }}'s flask web 
    </title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>

<body>

    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
        {{ name }}'s flask web
    </h2>

    {# 使用 length 过滤器获取 result 变量的长度 #}
    <p>{{ result|length }} 行日志分析 {{ logname }}</p>

    <ul class="movie-list">
        {% for eachlog in result %}  {# 迭代 movies 变量 #}
        <li>{{ eachlog }} </li>  {# 等同于 movie['title'] #}
        {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
    </ul>

    <resultfooter>
        <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
        <small>&copy; 2021 <a href="https://www.midea.cn/">美智纵横科技有限公司</a></small>
    </resultfooter>
</body>
</html>