<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {{ name }}'s log analyse web 
    </title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>

<body>

    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
        {{ name }}'s log analyse web 
    </h2>

    <form action="/analyse" method="post">
        <p><input type="text" name="fname" placeholder="请输入日志路径">
        <button name="submit" type="submit">reduce</button>
        </p>
    </form>
    <form action="/draw" method="post">
        <p><input type="text" name="fname2" placeholder="请输入日志路径">
        <button name="submit2" type="submit">draw</button>
        </p>
    </form>
    <form action="/delete" method="post">
        <!-- <p><input type="text" name="fname2" placeholder="请输入日志路径"> -->
        <button name="submit3" type="submit">delete</button>
        </p>
    </form>
    <!-- <form action="/test" method="post"> 
        <button name="submit" type="submit">reduce</button> 
    </form> -->

    {# 使用 length 过滤器获取 movies 变量的长度 #}
    <p>{{ log|length }} Titles</p>

    <!-- position:absolute;  --> 
    <div style="height:400px; overflow:auto">

    <ul class="movie-list">
        {% for eachlog in log %}  {# 迭代 movies 变量 #}
        <li>{{ eachlog }} <button name="submit" type="submit">reduce</button> <button name="submit" type="submit">draw</button></li>  {# 等同于 movie['title'] #}
        {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
    </ul>
    </div>
    <footer>
        <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
        <small>&copy; 2021 <a href="https://www.midea.cn/">美智纵横科技有限公司</a></small>
    </footer>
</body>
</html>