<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {{ name }}'s log analyse web 
    </title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>

<body>
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
        {{ name }}'s log analyse web 
    </h2>

    <form action="/analyse/searchloginfo" method="post">
        <p>
            <input type="text" name="fname" maxlength="10000" style="width:400px" placeholder="请输入日志路径">
            <button name="submit" type="submit">reduce</button>
        </p>
    </form>
    <form action="/draw" method="post">
        <p>
            <input type="text" name="fname2" maxlength="10000" style="width:400px" placeholder="请输入日志路径">
            <button name="submit2" type="submit"> draw </button>
        </p>
    </form>
    <form action="/delete" method="post">
        <p>
            <button name="submit3" type="submit">clear</button>
        </p>
    </form>

    {# 使用 length 过滤器获取 movies 变量的长度 #}
    <p>{{ result|length }} logs</p>

    <!-- position:absolute;  --> 
    <div style="height:450px; width:600px; overflow:auto">

    <ul class="movie-list">
        {% for eachlog in result %}  {# 迭代 movies 变量 #}
        <li>{{ eachlog }}     
            <!-- <form action="/reduceeach" method="post">
                <button name="submit4" type="submit">reduceeach</button>
                <button name="submit5" type="submit">draweach</button>
            </form> -->
        </li>  {# 等同于 movie['title'] #}
        {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
    </ul>
    </div>
    <footer>
        <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
        <small>&copy; 2021 <a href="https://www.midea.cn/">美智纵横科技有限公司</a></small>
    </footer>
</body>
</html>